<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body">
          <h2>{{ page.title }}</h2>
          <hr class="star-primary">
          {% if page.post_image %}
          <img src="{{ page.post_image }}" class="img-responsive img-centered" alt="{{ page.alt }}">
          {% endif %}
          {% if page.authors %}
          <p><strong>Authors:</strong> {{ page.authors | join: ", " }}</p>
          {% endif %}
          {% if page.journal %}
          <p><strong>Published in:</strong> {{ page.journal }}</p>
          {% endif %}
          {% if page.date %}
          <p><strong>Date:</strong> {{ page.date | date: "%B %d, %Y" }}</p>
          {% endif %}
          {% if page.link %}
          <p><a href="{{ page.link }}" target="_blank">Read the full paper</a></p>
          {% endif %}
          <div>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
